*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: lightblue;
}

#liFor{
	list-style: none;
	


}

	
section {
	border: 3px solid red;
	height: 100vh;
	width: 100%;
}


.topbox{
	border: 3px solid blue;
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.pic{
	display: flex;
	border: 3px solid red;
	width: 50%;
	justify-content: center;
}

/*bottom section*/
.bottombox{
	border: 3px solid green;
	height: 70%;
	width: 100%;
	display: flex;
	justify-content: space-between;	
}
.leftbox{
	border: 3px solid red;
	height: 255px;
	width: 30%;

}
.rightbox{
	border: 3px solid green;
	height: 255px;
	width: 30%;

}


